<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>Eat-Da-Burger!</title>
</head>
<style>
    body {
        font-family: 'Special Elite';
        font-size: 18px;
        background: lightgrey;
    }

    .alreadyDevoured {
        align: right;
    }
</style>

<body>
    {{{ body }}}
</body>

</html>