<div class="container">
    <div class="row headerRow">
        <div class="col-md-12">
            <h1>Munch Burgers Here!</h1>
        </div>
        <div class="row mainContent"></div>
        <div class="col-md-4 toBeDevoured">
            {{!-- list of to be devoured will be added here --}}
        </div>
        <div class="col-md-4 burgerForm">
            <form>
                <input name="burgerName" type="text" />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-md-4 alreadyDevoured">
        {{!-- list of already devoured will be added here --}}
    </div>